body, ul{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}
a:hover{
	background-color: rgba(0, 0, 0, 0.05);
}
#logo{
	font-size: 1.2rem;
	font-weight: bold;
}
header{
	box-sizing: border-box;
	display: flex;
	height: 70px;
	padding: 1rem;
	align-items: center;
	justify-content: space-between;
	background-color: #e7e7e7;
}
#menu{
	display: flex;
	list-style: none;
	gap: .5rem;
	
}
#menu a{
	display: block;
	padding: .5rem;
}
@media (max-width: 600px){
	#btn-mobile{
		display: block;
	}
	#menu {
		display: block;
		position: absolute;
		width: 100%;
		height: 0px;
		top: 70px;
		right: 0;
		z-index: 1000000;
		background: #e7e7e7;
		transition: 0.3s;

		visibility: hidden;
		overflow-y: hidden;
	}
	#nav.active #menu{
		height: calc(100vh - 70px);
		visibility: visible;
		overflow-y: auto;
		text-align: center;
	}
	#menu a {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: solid 1px rgba(0, 0, 0, 0.05);
	}
	#btn-mobile{
		display: flex;
		padding: .5rem 1rem;
		font-size: 1rem;
		border: none;
		background: none;
		cursor: pointer;
	}
	#btn-menu{
		border-top: 2px solid;
		width: 20px;
		display: block;
	}
	#btn-menu::after, #btn-menu::before{
		content: '';
		display: block;
		width: 20px;
		height: 2px;
		background: currentColor;
		margin-top: 5px;
		transition: .3s;
		position: relative;
	}
	#nav.active #btn-menu{
		border-top-color: transparent;
	}
	#nav.active #btn-menu::before{
		transform: rotate(135deg);
	}
	#nav.active #btn-menu::after{
		transform: rotate(-135deg);
		top: -7px;
	}
}	
